.block-sonr-webmining .sonr-webmining-area-left {
  float: left;
  width: 24%;
}

.block-sonr-webmining .sonr-webmining-area-right {
  float: right;
  width: 76%;
}

.block-sonr-webmining .views-exposed-form .views-exposed-widget {
  padding: 0;
  float: none;
}

.block-sonr-webmining .views-exposed-form fieldset.collapsed {
  border: 1px solid #CCC !important;
  height: 0 !important;
}

.block-sonr-webmining .views-exposed-form select,
.block-sonr-webmining .views-exposed-form input {
  width: 100%;
}

.block-sonr-webmining .views-exposed-form .filter-reset,
.block-sonr-webmining .views-exposed-form .form-item-date-to,
.block-sonr-webmining .views-exposed-form .views-widget-filter-trends {
  margin-top: 0;
  margin-bottom: 1.6em;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box {
  padding: 0;
  margin: 0 0 20px 0;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box .facet-item {
  display: inline-block;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box .facet-label {
  padding: 2px 8px;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box .facet-label:hover {
  background-color: #EEE;
  cursor: pointer;
}

.block-sonr-webmining .views-exposed-form .form-checkboxes .form-item,
.block-sonr-webmining .views-exposed-form .form-select .form-item {
  float: left;
  width: 90%;
}

.block-sonr-webmining .views-exposed-form .tree-depth {
  margin-left: 20px;
  display: none;
  clear:both;
}

.block-sonr-webmining .views-exposed-form .tree-open-close {
  content: "";
  position: relative;
  top: 10px;
  right: 14px;
  width: 0;
  height: 0;
  border-top: 5px solid #575759;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  cursor:pointer;
  float: right;
}

.block-sonr-webmining .views-exposed-form .tree-open-close.collapsed {
  top: 4px;
  right: 14px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #575759;
}

@media only screen and (max-width: 920px) {
  .block-sonr-webmining .sonr-webmining-area-left {
    float: left;
    width: 24%;
    margin-bottom: 1.5em;
  }

  .block-sonr-webmining .sonr-webmining-area-right {
    float: left;
    width: inherit;
    margin-bottom: 1.5em;
  }
}
