/* =============================================================================
 *   Main Styles
 * ========================================================================== */

.block-sonr-webmining .sonr-webmining-area-left {
  float: left;
  width: 23%;
  margin-bottom: 1.5em;
}

.block-sonr-webmining .sonr-webmining-area-right {
  float: right;
  width: 76%;
  margin-bottom: 1.5em;
}

.block-sonr-webmining .similar-content .sonr-webmining-area-right,
.block-sonr-webmining .similar-content .sonr-webmining-area-list {
  float: none;
  width: 94%;
  margin-bottom: 0;
  padding-left: 3em;
  border-top: 1px solid #cfd4da;
}

/* =============================================================================
 *   Filter Styles
 * ========================================================================== */

.block-sonr-webmining .views-exposed-form label {
  color: #556b88;
  margin-bottom: 0.8em;
  font-size: 89.5%;
}

.block-sonr-webmining .views-exposed-form .filter-header-text p {
  margin: 0 0 1.5em;
}

.block-sonr-webmining .views-exposed-form .views-exposed-widget {
  padding: 0 0 10px 0;
  width: auto;
  float: inherit;
}

.block-sonr-webmining .views-exposed-form fieldset {
  background: none;
  padding: 0;
  border: 0;
  margin: 0;
  top: 0;
}

.block-sonr-webmining .views-exposed-form fieldset legend {
  color: #666;
  display: block;
  font-size: 0.93em;
  letter-spacing: 0.05em;
  padding: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  position: inherit;
  text-indent: 0;
  top: 0;
  left: 0;
}

.block-sonr-webmining .views-exposed-form fieldset.collapsible .fieldset-legend {
  background-image: inherit;
  padding-left: 0;
  height: 25px;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  line-height: 25px;
  font-weight: 700;
  font-size: 12px;
  color: #576c85;
}

.block-sonr-webmining .views-exposed-form fieldset.collapsible .fieldset-legend:after,
.block-sonr-webmining .views-exposed-form .tree-open-close {
  content: "";
  position: absolute;
  top: 10px;
  right: 14px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #1073a9;
  border-style: solid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #575759;
  cursor:pointer;
}

.block-sonr-webmining .views-exposed-form .tree-open-close {
  position: relative;
}

.block-sonr-webmining .views-exposed-form fieldset.collapsed .fieldset-legend {
  background-image: inherit;
  height: 25px;
}

.block-sonr-webmining .views-exposed-form fieldset.collapsed .fieldset-legend:after,
.block-sonr-webmining .views-exposed-form .tree-open-close.collapsed {
  content: "";
  position: absolute;
  top: 4px;
  right: 14px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #575759;
  cursor:pointer;
}

.block-sonr-webmining .views-exposed-form .fieldset-legend a {
  font-size: 10px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  display: block;
  float: left;
  width: 100%;
  line-height: 11px;
  margin-top: 7px;
}

.block-sonr-webmining .views-exposed-form input.facet-autocomplete {
  width: 100%;
}

.block-sonr-webmining .views-exposed-form span.greyed-out a {
  color: #999;
}

.block-sonr-webmining .views-exposed-form fieldset.collapsible div.fieldset-wrapper {
  overflow: visible;
  margin: 0;
  padding: 0 0 0 17px;
}

.block-sonr-webmining .views-exposed-form .form-checkboxes .form-item,
.block-sonr-webmining .views-exposed-form .form-select .form-item {
  line-height: 23px;
  clear: both;
  float: left;
  width: calc(100% - 30px);
}

.block-sonr-webmining .views-exposed-form .form-checkboxes input {
  margin: 6px 0 0 -5px;
  vertical-align: top;
}

.block-sonr-webmining .views-exposed-form div.checker {
  float: left;
  position: relative;
  top: 4px;
}

.block-sonr-webmining .views-exposed-form .form-item label.option {
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 6px;
  line-height: 14px;
  color: #000;
  width: calc(100% - 17px);
  float: none;
}

.block-sonr-webmining .views-exposed-form .container-inline-date label {
  color: #000;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 150%;
  margin: 1em 0 0.5em;
}

.block-sonr-webmining .views-exposed-form .container-inline-date {
  font-size: 10px;
}

.block-sonr-webmining .views-exposed-form .container-inline-date .form-item,
.block-sonr-webmining .views-exposed-form .container-inline-date .form-item .date-padding,
.block-sonr-webmining .views-exposed-form .container-inline-date .form-item input {
  width: 100%;
}

.block-sonr-webmining .views-exposed-form .container-inline-date .form-item-date-from-date .description {
  display: none;
}

.block-sonr-webmining .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.9em;
}

.block-sonr-webmining .views-exposed-form .tree-depth {
  margin-left: 20px;
  display: none;
  clear:both;
}

.block-sonr-webmining .views-exposed-form .tree-open-close {
  float: right;
}

.block-sonr-webmining .views-exposed-form .tree-open-close.collapsed {
  position: relative;
}

/* =============================================================================
 *   Trend Styles
 * ========================================================================== */

h2.sonr-webmining-trends-title {
  color: #556b88;
  margin: 0 0 0.8em;
  font-size: 89.5%;
  padding:10px 20px 8px;
}

p.sonr-webmining-trends-description {
  padding:10px 20px 8px;
	margin: 0 0 0.5em;
}

.block-sonr-webmining .views-exposed-form #edit-trends {
  margin-top: 25px;
}

#flot-chart-legend table {
  width: 99%;
  margin: 10px 0;
  padding: 0;
  border: #ccc 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
}

#flot-chart-legend table tr {
  border-top: 1px solid #ccc;
  background: none repeat scroll 0 0 #fff;
}

#flot-chart-legend table tr.info,
#flot-chart-legend table tr.even,
#flot-chart-legend table tr:nth-child(2n+2) {
  border-bottom: 0;
  background: none repeat scroll 0 0 #fafafa;
}

#flot-chart-legend table td {
  border-bottom: 0 none;
  font-size: 11px;
  margin: 0;
  padding: 7px;
}

#flot-chart-legend table td.legendColorBox {
  width: 10px;
}

#flot-chart-legend table td.legendLabel {
  padding-left: 0;
}

/* =============================================================================
 *   Search Bar Styles
 * ========================================================================== */

.clearBoth {
  clear: both;
}

.block-sonr-webmining .sonr-webmining-area-right .view-header br,
.block-sonr-webmining .sonr-webmining-area-list .view-header br {
  display: none;
}

.block-sonr-webmining .sonr-webmining-area-right .view-header .sonr-webmining-search-bar .form-item,
.block-sonr-webmining .sonr-webmining-area-list .view-header .sonr-webmining-search-bar .form-item {
  margin: 0;
  float: left;
}

.block-sonr-webmining .sonr-webmining-area-right .view-header .sonr-webmining-search-bar .form-item label,
.block-sonr-webmining .sonr-webmining-area-list .view-header .sonr-webmining-search-bar .form-item label {
  display: none;
}

.block-sonr-webmining .sonr-webmining-area-right .view-header .sonr-webmining-search-bar .form-autocomplete,
.block-sonr-webmining .sonr-webmining-area-list .view-header .sonr-webmining-search-bar .form-autocomplete {
  width: 460px;
}

.block-sonr-webmining .sonr-webmining-area-right .view-header .sonr-webmining-search-bar p,
.block-sonr-webmining .sonr-webmining-area-list .view-header .sonr-webmining-search-bar p {
  margin: 0;
  float: right;
}

.block-sonr-webmining .sonr-webmining-area-right .view-header .search-bar-submit,
.block-sonr-webmining .sonr-webmining-area-list .view-header .search-bar-submit,
.block-sonr-webmining .sonr-webmining-area-right .view-header .search-bar-reset,
.block-sonr-webmining .sonr-webmining-area-list .view-header .search-bar-reset,
.block-sonr-webmining .sonr-webmining-area-right .view-header .search-bar-save,
.block-sonr-webmining .sonr-webmining-area-list .view-header .search-bar-save {
  margin: 0.1em 0 0 1em;
}

.block-sonr-webmining .throbbing {
  background-image: url("/misc/throbber.gif");
  background-repeat: no-repeat;
  background-position: 100% -20px;
}

/* =============================================================================
 * Facet Box Styles
 * ========================================================================== */

.block-sonr-webmining .sonr-webmining-area-list #facet-container {
  margin: 20px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fcfcfa;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box .facet-item {
  display: inline-block;
  padding: 0;
  margin: 2px;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box .facet-label {
  background: #f0efe6;
  border: 1px solid #e5e5dc;
  border-radius:15px;
  color: #000000;
  font-size: 12px;
    line-height: 12px;
    padding: 3px 8px 2px;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box .facet-label:after{
  content:"\00d7";
  padding-left:5px;
  color:#666666;
  font-weight:600;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box .facet-label:hover {
  background-color: #EEE;
  cursor: pointer;
}

.block-sonr-webmining .sonr-webmining-area-list .facet-box-form {
  padding: 10px 4px 0;
}

.block-sonr-webmining .sonr-webmining-area-list .search-filter-title {
  font-size: 90%;
  color: #1072a9;
  font-weight: bold;
}

.block-sonr-webmining .sonr-webmining-area-list .search-filters a {
  cursor: pointer;
}

.block-sonr-webmining .sonr-webmining-area-list .filter-operations {
   margin-bottom: 20px;
   float: right;
}

.block-sonr-webmining .sonr-webmining-area-list .filter-operations a {
  padding-left: 20px;
  cursor: pointer;
}

/* =============================================================================
 *   RSS Link + Results Count Styles
 * ========================================================================== */

.block-sonr-webmining .sonr-webmining-area-right .view-header p,
.block-sonr-webmining .sonr-webmining-area-list .view-header p {
  margin: 0;
}

.block-sonr-webmining .sonr-webmining-area-right .view-header .rss-link,
.block-sonr-webmining .sonr-webmining-area-list .view-header .rss-link {
  background: url(../images/rss_button.png) top right no-repeat;
  height: 19px;
  display: block;
  text-align: left;
  padding-right: 25px;
  margin-bottom: 20px;
  float: left;
}

.block-sonr-webmining .sonr-webmining-results-count {
  clear: both;
  font-style: italic;
}

/* =============================================================================
 *   Content List Styles
 * ========================================================================== */

.block-sonr-webmining .sonr-webmining-area-right .view-content,
.block-sonr-webmining .sonr-webmining-area-list .view-content {
  clear: both;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row {
  border-bottom: 1px solid #cfd4da;
  margin: 0.7em 0;
}

.block-sonr-webmining .similar-content .sonr-webmining-area-right .view-content .views-row.views-row-last,
.block-sonr-webmining .similar-content .sonr-webmining-area-list .view-content .views-row.views-row-last {
  border-bottom: 0;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-webmining-source-information,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-webmining-source-information {
  color: #84989f;
  font-size: 11px;
  margin-bottom: 5px;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-title,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-title {
  display: inline-block;
  margin-bottom: 0.3em;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-title a,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-title a {
  color: #1072a9;
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-title a:hover,
.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-title a:focus,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-title a:hover,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-title a:focus {
  color: #1072a9;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-body,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-body {
  margin-bottom: 0;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-body p,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-body p {
  font-size: 12px;
  margin: 0;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-webmining-read-more .views-more-link,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-webmining-read-more .views-more-link {
  margin-bottom: 0;
  margin-top: 0;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-show-sentiment,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-show-sentiment {
  margin: 0 0 0.5em;
}


.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .site_list_tags,
.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-webmining-tags,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .site_list_tags,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-webmining-tags {
  color: #84989f;
  font-size: 11px;
  margin: 0.5em 0;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .site_list_tags .tags-show,
.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-webmining-tags .tags-show,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .site_list_tags .tags-show,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-webmining-tags .tags-show {
  cursor: pointer;
}


.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-more-like-this .similar-more,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-more-like-this .similar-more {
  margin: 0.7em 0;
  font-size: 90%;
  color: #1072a9;
  font-weight: bold;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-more-like-this .similar-more:hover,
.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-more-like-this .similar-more:focus,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-more-like-this .similar-more:hover,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-more-like-this .similar-more:focus {
  cursor: pointer;
  text-decoration: underline;
}

.block-sonr-webmining .sonr-webmining-area-right .view-content .views-row .views-field-sonr-more-like-this .view-empty,
.block-sonr-webmining .sonr-webmining-area-list .view-content .views-row .views-field-sonr-more-like-this .view-empty {
  padding: 0.7em 0;
  font-size: 88%;
  color: #cc0000;
}

/* =============================================================================
 *   Sentiments
 * ========================================================================== */

.sentimentColorRange {
  position: relative;
  top: 4px;
  float: left;
}

.sentimentColorRange span.smallGrey {
  padding-top: 1px;
}

.sentimentColorRange .bar {
  display: block;
  position: relative;
  width: 73px;
  height: 7px;
  border: 1px solid rgba(0,0,0,.25);
  margin: 2px 2px 0 2px;
}

.sentimentColorRange .bar .wrapper {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 71px;
  height: 5px;
  border: 1px solid #fff;
  background-color: #fff;
}
.sentimentColorRange .bar .negative {
  right: 35px;
  background-color: #c00;
  border-right: 1px solid #fff;
}
.sentimentColorRange .bar .negative,
.sentimentColorRange .bar .positive,
.sentimentColorRange .bar .zero {
  display: block;
  position: absolute;
  height: 5px;
}

.sentimentColorRange .bar .positive {
  left: 36px;
  background-color: #2da106;
}

.sentimentColorRange .bar .zero {
  width: 1px;
  background-color: rgba(0,0,0,.25);
  left: 35px;
}

.sentimentValue {
  border: 1px solid #84989f;
  position: relative;
  display: inline;
  border-radius: 5px;
  padding: 1px 5px;
  font-size: 11px;
  color: #84989f;
  margin-left: 10px;
  float: left;
}

/* =============================================================================
 *   Responsive Main Styles
 * ========================================================================== */

@media only screen and (max-width: 920px) {
  .block-sonr-webmining .sonr-webmining-area-left {
    float: left;
    width: 23%;
    margin-bottom: 1.5em;
  }

  .block-sonr-webmining .sonr-webmining-area-right {
    float: right;
    width: inherit;
    margin-bottom: 1.5em;
  }

  .block-sonr-webmining .sonr-webmining-area-right .view-header .rss-link,
  .block-sonr-webmining .sonr-webmining-area-list .view-header .rss-link {
    background: url(../images/rss_button.png) top right no-repeat;
    height: 19px;
    display: block;
    text-align: right;
    padding-right: 25px;
    float: inherit;
    margin-top: inherit;
  }
}
