.percentage-bar {
  height: 15px;
  min-width: 100px;
  position: relative;
  background-color: #AAA;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #888),
    color-stop(1, #BBB)
  );
  background-image: -webkit-linear-gradient(
    center bottom,
    #888 37%,
    #BBB 69%
  );
  background-image: -moz-linear-gradient(
    center bottom,
    #888 37%,
    #BBB 69%
  );
  background-image: -ms-linear-gradient(
    center bottom,
    #888 37%,
    #BBB 69%
  );
  background-image: -o-linear-gradient(
    center bottom,
    #888 37%,
    #BBB 69%
  );
  border: 1px solid #888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.percentage-bar > span.bar {
  display: block;
  height: 100%;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: 1px solid #888;
  background-color: #DDD;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #BBB),
    color-stop(1, #EEE)
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    #BBB 37%,
    #EEE 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    #BBB 37%,
    #EEE 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    #BBB 37%,
    #EEE 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    #BBB 37%,
    #EEE 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.percentage-bar.error > span.bar {
    border-right: 0;
    background-color: #f0a3a3;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #f0a3a3),
        color-stop(1, #f42323)
    );
    background-image: -webkit-linear-gradient(
        center bottom,
        #f0a3a3 37%,
        #f42323 69%
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #f0a3a3 37%,
        #f42323 69%
    );
    background-image: -ms-linear-gradient(
        center bottom,
        #f0a3a3 37%,
        #f42323 69%
    );
    background-image: -o-linear-gradient(
        center bottom,
        #f0a3a3 37%,
        #f42323 69%
    );
}

.percentage-bar.running > span.bar {
    border-right: 0;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(43,194,83)),
        color-stop(1, rgb(84,240,84))
    );
    background-image: -webkit-linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
    );
    background-image: -ms-linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
    );
    background-image: -o-linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
    );
}

.percentage-bar > span.tooltip {
  display: none;
}

.percentage-bar:hover > span.tooltip {
  position: absolute;
  display: block;
  border: 1px solid black;
  background-color:white;
  padding: 2px 5px;
  margin-top: 3px;
  z-index: 2;
}

.percentage-bar.red:hover > span.tooltip {
  background-color: #f0a3a3;
}

.deleted_agents {
    margin-top: 25px;
}